header {
  height: 100px;
  background-image: url('filmHeader.jpeg');
  background-repeat: repeat;
}
h1 {
  margin: 0;

}

.top {
  display: flex;
  justify-content: space-between;
}
.myMovies {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.myBtn {
  height: 30px;
  margin-left: 46%;
}

.toAddBtn {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.movieList {
  display: flex; justify-content: space-between;
}


.selected {
  background-color: red;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.landingPage {
  height: 800px;
  background-image: url('Red-Curtain.jpg');
}

.landingTitle {
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

#mainID {
  color: white;
}
#showH1 {
  color: black;
}
.landingLink {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  display: flex;
  justify-content: center;
}

.betterDisplay {

  margin-left: 7%;
  /*margin-right: 20px;*/
}

.backgroundIndex {
  background-image: url('Red-Curtain.jpg');
  background-size: cover;
}
.backgroundNew {
  height: 600px;
  background-image: url('Red-Curtain.jpg');
  background-size: cover;
}
.imageStyle {
  height: 250px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerImg {

}

.eachMovie {
  width: 300px;
  border: solid;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 30px;
  background-color: white;

}
.showPage, .addLayout, .editLayout {
margin-left: 40%;
}

.addLayout, .editLayout, .showPage {
padding-top: 60px;
 background-color: white;
  width: 300px;
  padding: 20px;
  border: double;
}
.indexH1 {
  color: white;
}
